.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 25px 10px;
}

.wrapperbot {
  align-items: flex-start;
}

.wrapperuser {
  align-items: flex-end;
}

.container {
  position: relative;
  max-width: 100%;
  border-radius: 20px;
  padding: 8px 14px;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 0.92rem;
}

.containeruser {
  background: rgb(0, 102, 255);
  color: rgb(255, 255, 255);
  border-bottom-right-radius: 4px;
}

.containerbot {
  background: #E9E9E9;
  color: rgb(0, 0, 0);
  border-top-left-radius: 4px;
}